<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3"></script>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Password Generator</title>
  </head>
  <body class="text-gray-700">
    <div class="px-3 py-3 border-b border-gray-100 shadow">
      <div class="max-w-screen-lg mx-auto">
        <h1>Password Generator</h1>
      </div>
    </div>
    <div class="max-w-screen-lg mx-auto">
      <div id="app">
        <div class="p-3">
          <form @submit.prevent="copyToClipboard">
          <div class="my-3">
            <label>
              <div>Identifier</div>
              <input type="text" autofocus v-model="identifier" placeholder="ID" class="border border-gray-200 p-1 rounded"></input>
            </label>
          </div>
          <div class="my-3">
            <label>
              <div>Salt</div>
              <input type="password" v-model="salt" placeholder="secret" class="border border-gray-200 p-1 rounded"></input>
            </label>
          </div>
          <div class="my-3">
            <label>
              <div>Length</div>
              <input type="number" v-model="length" placeholder="length" class="border border-gray-200 p-1 rounded"></input>
            </label>
          </div>
          <div v-if="password.length > 0">
            <div v-if="!showPassword">
              {{password.slice(0, 8)}} ...
            </div>
            <div class="my-3" v-if="!showPassword">
              <button type="button" @click="showPassword = true" class="px-3 py-1 border border-blue-600 text-blue-600 rounded">
                Show password
              </button>
            </div>
            <div v-if="showPassword">
              {{passwordWithFixedLength}}
            </div>
            <div>
              <button type="submit" @click="copyToClipboard" class="px-3 py-1 bg-blue-600 text-white rounded">
                Copy
              </button>
            </div>
          </div>
          </form>
        </div>
        <div class="fixed bottom-0 left-0 w-full" v-if="message.length > 0">
          <div class="w-full sm:w-64 sm:rounded sm:mb-2 mx-auto bg-gray-800 text-white p-3">
            {{message}}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/app.js"></script>
</html>
